In [20]:
import pandas as pd
import unicodedata
  
# to read csv file named "cities.csv" 
cities_df = pd.read_csv("../Resources/cities.csv",encoding='utf-8') 
cities_df.head()

,City,Cloudiness (%),Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Saint Anthony,75,US,1584070990,64,45.02,-93.22,35.60,14.99
1,Am Timan,66,TD,1584070991,15,11.03,20.28,68.77,8.75
2,Vardø,100,NO,1584070992,86,70.37,31.11,23.56,30.69
3,Marawi,0,PH,1584070993,84,8.00,124.29,82.99,7.00
4,Lüderitz,0,NaN,1584070994,82,-26.65,15.16,64.40,12.75

In [21]:
# to save as html file named as "cities"
cities_df.to_html("cities.html")

UnicodeEncodeError: 'charmap' codec can't encode character '\u016b' in position 22511: character maps to <undefined>